### VisualStudioCode ###
.vscode/*
### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history
*.exe
Codigos/Codigos-Basicos/tempCodeRunnerFile.cpp
Codigos/Programacion Orientada A Objetos/tempCodeRunnerFile.cpp